# daily gainer analysis

In [1]:
import pandas as pd
import numpy as np
from datetime import date, timedelta , datetime

import quandl
from yahoofinancials import YahooFinancials
quandl.ApiConfig.api_key = "J9N7UJdiz4B1SpTu86PF"

#/Users/akshay/Desktop/webscraping/wsj

In [2]:
data=pd.read_csv('/Users/akshay/Desktop/webscraping/wsj/wsj_stocks.csv')

In [3]:
data.head()

,date1,percent_chg,price,price_chg,stock_id,volume
0,"Monday, February 05, 2018 - 5:32 pm ET",68.00,$12.60,5.10,VelocityShares Daily 2x VIX Short Term ETN (TVIX),"125,483,803"
1,"Monday, February 05, 2018 - 5:32 pm ET",66.21,22.87,9.11,ProShares Ultra VIX Short-Term Futures ETF (UVXY),"152,083,929"
2,"Monday, February 05, 2018 - 5:32 pm ET",34.24,36.66,9.35,ProShares VIX Short-Term Futures ETF (VIXY),"9,912,069"
3,"Monday, February 05, 2018 - 5:32 pm ET",34.05,18.62,4.73,VelocityShares VIX Short Term ETN (VIIX),"945,533"
4,"Tuesday, February 06, 2018 - 5:32 pm ET",43.36,$10.25,3.10,Asta Funding (ASFI),"197,131"

In [4]:
data['date2']=pd.to_datetime(data['date1']).dt.date

/anaconda3/lib/python3.6/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname ET identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [5]:
data.head()

,date1,percent_chg,price,price_chg,stock_id,volume,date2
0,"Monday, February 05, 2018 - 5:32 pm ET",68.00,$12.60,5.10,VelocityShares Daily 2x VIX Short Term ETN (TVIX),"125,483,803",2018-02-05
1,"Monday, February 05, 2018 - 5:32 pm ET",66.21,22.87,9.11,ProShares Ultra VIX Short-Term Futures ETF (UVXY),"152,083,929",2018-02-05
2,"Monday, February 05, 2018 - 5:32 pm ET",34.24,36.66,9.35,ProShares VIX Short-Term Futures ETF (VIXY),"9,912,069",2018-02-05
3,"Monday, February 05, 2018 - 5:32 pm ET",34.05,18.62,4.73,VelocityShares VIX Short Term ETN (VIIX),"945,533",2018-02-05
4,"Tuesday, February 06, 2018 - 5:32 pm ET",43.36,$10.25,3.10,Asta Funding (ASFI),"197,131",2018-02-06

In [6]:
import re
data['stocks']=data.stock_id.str.extract(r"(?<=\()(.*?)(?=\))")

In [7]:
data.head(30)

,date1,percent_chg,price,price_chg,stock_id,volume,date2,stocks
0,"Monday, February 05, 2018 - 5:32 pm ET",68.00,$12.60,5.10,VelocityShares Daily 2x VIX Short Term ETN (TVIX),"125,483,803",2018-02-05,TVIX
1,"Monday, February 05, 2018 - 5:32 pm ET",66.21,22.87,9.11,ProShares Ultra VIX Short-Term Futures ETF (UVXY),"152,083,929",2018-02-05,UVXY
2,"Monday, February 05, 2018 - 5:32 pm ET",34.24,36.66,9.35,ProShares VIX Short-Term Futures ETF (VIXY),"9,912,069",2018-02-05,VIXY
3,"Monday, February 05, 2018 - 5:32 pm ET",34.05,18.62,4.73,VelocityShares VIX Short Term ETN (VIIX),"945,533",2018-02-05,VIIX
4,"Tuesday, February 06, 2018 - 5:32 pm ET",43.36,$10.25,3.10,Asta Funding (ASFI),"197,131",2018-02-06,ASFI
5,"Monday, February 05, 2018 - 5:32 pm ET",33.48,43.94,11.02,Barclays Bank iPath S&P 500 VIX Short Term Fut...,"202,368,529",2018-02-05,VXX
6,"Monday, February 05, 2018 - 5:32 pm ET",25.39,12.00,2.43,VelocityShares Daily 2x VIX Medium Term ETN (T...,"54,945",2018-02-05,TVIZ
7,"Tuesday, February 06, 2018 - 5:32 pm ET",36.36,5.25,1.40,Cyanotech (CYAN),"201,412",2018-02-06,CYAN
8,"Tuesday, February 06, 2018 - 5:32 pm ET",34.78,4.03,1.04,Quotient (QTNT),"4,348,632",2018-02-06,QTNT
9,"Monday, February 05, 2018 - 5:32 pm ET",20.62,22.64,3.87,VelocityShares VIX Tail Risk ETN linked to the...,"15,206",2018-02-05,BSWN
10,"Monday, February 05, 2018 - 5:32 pm ET",19.47,2.70,0.44,Oragenics (OGEN),"177,988",2018-02-05,OGEN
11,"Tuesday, February 06, 2018 - 5:32 pm ET",32.83,6.19,1.53,ATA ADR (ATAI),"138,297",2018-02-06,ATAI
12,"Tuesday, February 06, 2018 - 5:32 pm ET",24.74,30.00,5.95,Fabrinet (FN),"3,345,036",2018-02-06,FN
13,"Tuesday, February 06, 2018 - 5:32 pm ET",21.62,9.00,1.60,Borqs Technologies (BRQS),"5,980",2018-02-06,BRQS
14,"Monday, February 05, 2018 - 5:32 pm ET",16.21,21.00,2.93,Barclays Bank iPath S&P 500 VIX Mid Term Futur...,"1,113,131",2018-02-05,VXZ
15,"Monday, February 05, 2018 - 5:32 pm ET",15.18,6.83,0.90,Arcturus Therapeutics (ARCT),"97,199",2018-02-05,ARCT
16,"Monday, February 05, 2018 - 5:32 pm ET",14.76,8.04,1.03,ProShares UltraPro Short Financial Select Sect...,"31,564",2018-02-05,FINZ
17,"Tuesday, February 06, 2018 - 5:32 pm ET",21.24,51.65,9.05,Lumentum Holdings (LITE),"9,745,776",2018-02-06,LITE
18,"Tuesday, February 06, 2018 - 5:32 pm ET",21.03,12.95,2.25,Riot Blockchain (RIOT),"2,722,265",2018-02-06,RIOT
19,"Tuesday, February 06, 2018 - 5:32 pm ET",20.89,4.34,0.75,SSLJ.com Cl A (SSLJ),"367,931",2018-02-06,SSLJ
20,"Tuesday, February 06, 2018 - 5:32 pm ET",20.88,6.83,1.18,Oclaro (OCLR),"19,314,646",2018-02-06,OCLR
21,"Monday, February 05, 2018 - 5:32 pm ET",13.97,15.66,1.92,Direxion Daily Semiconductor Bear 3X Shares (S...,"2,684,892",2018-02-05,SOXS
22,"Monday, February 05, 2018 - 5:32 pm ET",13.59,11.70,1.40,Hexindai ADR (HX),"164,860",2018-02-05,HX
23,"Monday, February 05, 2018 - 5:32 pm ET",13.47,24.77,2.94,ProShares VIX Mid-Term Futures ETF (VIXM),"268,941",2018-02-05,VIXM
24,"Tuesday, February 06, 2018 - 5:32 pm ET",20.00,10.80,1.80,Liberty TripAdvisor Holdings Series A (LTRPA),"2,716,195",2018-02-06,LTRPA
25,"Tuesday, February 06, 2018 - 5:32 pm ET",17.17,6.96,1.02,Net Element (NETE),"982,829",2018-02-06,NETE
26,"Monday, February 05, 2018 - 5:32 pm ET",13.42,12.00,1.42,Direxion Daily Financial Bear 3x Shares (FAZ),"8,499,848",2018-02-05,FAZ
27,"Monday, February 05, 2018 - 5:32 pm ET",13.38,20.08,2.37,ProShares UltraPro Short Dow30 (SDOW),"15,759,876",2018-02-05,SDOW
28,"Tuesday, February 06, 2018 - 5:32 pm ET",15.90,4.01,0.55,ZIOPHARM Oncology (ZIOP),"2,939,738",2018-02-06,ZIOP
29,"Tuesday, February 06, 2018 - 5:32 pm ET",15.79,3.30,0.45,Xcel Brands (XELB),"23,897",2018-02-06,XELB

In [26]:
data1=data.loc[data['percent_chg'] >=30]

In [27]:
data1.shape

(683, 8)

In [28]:
data1=data1.reset_index(drop=True)

In [29]:
def stcp(stc,dat):
    ticker = stc
    yahoo_financials = YahooFinancials(ticker)
    
    
    d1 = dat  # start date
    start=d1-timedelta(5)
    end=d1+timedelta(5)
    start=start.strftime('%Y-%m-%d')
    end=end.strftime('%Y-%m-%d')
    
    
    hist_stock_prices = yahoo_financials.get_historical_price_data(start,end,'daily')
    hist_stock_prices
    
    df1 = pd.DataFrame(hist_stock_prices[stc]['prices'])
    df1['company'] = stc
    df1 = df1[['company']+list(df1.columns[:-1])]
    
    return df1

In [30]:
data_final=stcp(data1.stocks[0],data1.date2[0])

In [31]:
data_final1=data_final.copy()
data_final1

,company,adjclose,close,date,formatted_date,high,low,open,volume
0,TVIX,63.000000,63.000000,1517409000,2018-01-31,67.099998,61.200001,63.000000,2976800
1,TVIX,58.900002,58.900002,1517495400,2018-02-01,65.099998,55.000000,63.799999,3306000
2,TVIX,75.000000,75.000000,1517581800,2018-02-02,77.599998,62.700001,63.000000,6175500
3,TVIX,126.000000,126.000000,1517841000,2018-02-05,147.699997,71.800003,83.000000,13245700
4,TVIX,74.599998,74.599998,1517927400,2018-02-06,154.699997,71.099998,148.899994,9877000
5,TVIX,90.900002,90.900002,1518013800,2018-02-07,94.599998,73.500000,91.400002,6838900
6,TVIX,135.000000,135.000000,1518100200,2018-02-08,136.100006,91.699997,92.400002,11224900
7,TVIX,113.000000,113.000000,1518186600,2018-02-09,143.699997,107.099998,116.000000,9494400

In [41]:
for i in range(20)[1:]:
    try:
        data_final1=data_final1.append(stcp(data1.stocks[i],data1.date2[i]))
    except:
        None

In [42]:
data_final1.shape

(115, 9)

In [118]:
## selecting columns 

data_final2=data_final1[['company','formatted_date','high','low','open','volume']]
data_final2['formatted_date']=pd.to_datetime(data_final2['formatted_date']).dt.date
data_final2=data_final2.reset_index(drop=True)
data2 = data1[['stocks','date2','volume','percent_chg']]
data2= data2.rename(columns={'stocks': 'company','date2':'formatted_date'})
result = pd.merge(data_final2, data2, how='left', on=['company','formatted_date'])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [119]:
result.shape
result

,company,formatted_date,high,low,open,volume_x,volume_y,percent_chg
0,TVIX,2018-01-31,67.099998,61.200001,63.000000,2976800,NaN,NaN
1,TVIX,2018-02-01,65.099998,55.000000,63.799999,3306000,NaN,NaN
2,TVIX,2018-02-02,77.599998,62.700001,63.000000,6175500,NaN,NaN
3,TVIX,2018-02-05,147.699997,71.800003,83.000000,13245700,"125,483,803",68.00
4,TVIX,2018-02-06,154.699997,71.099998,148.899994,9877000,NaN,NaN
5,TVIX,2018-02-07,94.599998,73.500000,91.400002,6838900,NaN,NaN
6,TVIX,2018-02-08,136.100006,91.699997,92.400002,11224900,"110,529,982",48.51
7,TVIX,2018-02-09,143.699997,107.099998,116.000000,9494400,NaN,NaN
8,UVXY,2018-01-31,61.400002,56.000000,57.650002,11440600,NaN,NaN
9,UVXY,2018-02-01,59.599998,50.349998,58.400002,11137300,NaN,NaN
10,UVXY,2018-02-02,71.099998,57.349998,57.400002,17690200,NaN,NaN
11,UVXY,2018-02-05,117.949997,65.800003,75.949997,31375100,"152,083,929",66.21
12,UVXY,2018-02-06,150.899994,72.099998,146.750000,19946400,NaN,NaN
13,UVXY,2018-02-07,96.849998,75.099998,93.750000,15937400,NaN,NaN
14,UVXY,2018-02-08,140.250000,94.150002,94.800003,22187800,"109,315,768",49.65
15,UVXY,2018-02-09,147.500000,109.750000,119.500000,19926100,NaN,NaN
16,VIXY,2018-01-31,25.600000,24.480000,24.830000,2325300,NaN,NaN
17,VIXY,2018-02-01,25.240000,23.250000,25.000000,3283500,NaN,NaN
18,VIXY,2018-02-02,27.799999,24.770000,24.770000,7679900,NaN,NaN
19,VIXY,2018-02-05,36.959999,26.750000,28.690001,10085600,"9,912,069",34.24
20,VIXY,2018-02-06,45.860001,35.000000,45.080002,10172200,NaN,NaN
21,VIXY,2018-02-07,37.599998,33.689999,37.240002,7595400,NaN,NaN
22,VIXY,2018-02-08,45.860001,37.080002,37.230000,9097200,NaN,NaN
23,VIXY,2018-02-09,46.840000,40.299999,41.910000,3579300,NaN,NaN
24,VIIX,2018-01-31,13.030000,12.490000,12.650000,143500,NaN,NaN
25,VIIX,2018-02-01,12.850000,11.830000,12.750000,94300,NaN,NaN
26,VIIX,2018-02-02,14.150000,12.670000,12.670000,270500,NaN,NaN
27,VIIX,2018-02-05,18.799999,13.630000,14.640000,953900,"945,533",34.05
28,VIIX,2018-02-06,23.280001,18.030001,22.520000,1242700,NaN,NaN
29,VIIX,2018-02-07,19.160000,17.190001,18.879999,1092200,NaN,NaN
...,...,...,...,...,...,...,...,...
85,ENT,2018-02-02,2.610000,2.260000,2.600000,365700,NaN,NaN
86,IMMR,2018-01-24,7.490000,7.110000,7.390000,337400,NaN,NaN
87,IMMR,2018-01-25,7.680000,7.140000,7.200000,444600,NaN,NaN
88,IMMR,2018-01-26,7.630000,7.170000,7.590000,200000,NaN,NaN
89,IMMR,2018-01-29,11.540000,9.920000,10.940000,20635900,"20,563,358",36.24
90,IMMR,2018-01-30,10.920000,9.650000,9.930000,3782900,NaN,NaN
91,IMMR,2018-01-31,11.310000,10.320000,11.310000,2978600,NaN,NaN
92,IMMR,2018-02-01,10.980000,10.210000,10.400000,1282000,NaN,NaN
93,IMMR,2018-02-02,11.020000,9.810000,10.880000,1319200,NaN,NaN
94,BLDP,2018-01-24,4.030000,3.770000,4.010000,2010400,NaN,NaN
95,BLDP,2018-01-25,3.790000,3.190000,3.740000,9264800,NaN,NaN
96,BLDP,2018-01-26,3.400000,2.910000,3.400000,9472500,NaN,NaN
97,BLDP,2018-01-29,4.040000,3.390000,3.420000,14583900,"14,514,035",33.55
98,BLDP,2018-01-30,3.930000,3.610000,3.900000,4569700,NaN,NaN
99,BLDP,2018-01-31,3.820000,3.650000,3.740000,2313000,NaN,NaN
100,BLDP,2018-02-01,3.700000,3.550000,3.640000,1404800,NaN,NaN
101,BLDP,2018-02-02,3.520000,3.360000,3.480000,2021400,NaN,NaN
102,SLDB,2018-01-26,29.250000,22.000000,25.500000,3304600,"3,272,954",41.38
103,SLDB,2018-01-29,23.870001,21.750000,22.620001,290800,NaN,NaN
104,SLDB,2018-01-30,23.480000,19.120001,22.670000,686500,NaN,NaN
105,BSPM,2018-01-22,2.210000,2.020000,2.150000,37800,NaN,NaN
106,BSPM,2018-01-23,2.170000,2.070000,2.140000,30500,NaN,NaN
107,BSPM,2018-01-24,2.240000,2.110000,2.160000,46900,NaN,NaN
108,BSPM,2018-01-25,2.560000,2.130000,2.250000,666000,NaN,NaN
109,BSPM,2018-01-26,5.970000,2.570000,2.600000,17031300,"17,005,449",35.51
110,BSPM,2018-01-29,3.440000,2.700000,3.000000,635900,NaN,NaN
111,BSPM,2018-01-30,3.100000,2.450000,2.740000,727200,NaN,NaN
112,MNLO,2018-01-25,31.100000,20.500000,20.500000,5253400,"5,238,906",68.88
113,MNLO,2018-01-26,30.280001,27.510000,27.990000,977200,NaN,NaN
114,MNLO,2018-01-29,34.200001,28.400000,28.510000,503300,NaN,NaN

## financial info for the stocks

In [233]:
stk_stat={}
stk_list=list(result.company.unique())
for i in stk_list:
    try:
        yf = YahooFinancials(i)
        ksd=yf.get_key_statistics_data()
        stk_stat[list(ksd.keys())[0]]=list(ksd.values())[0]
    except:
        pass
    
stk_stat_df=pd.DataFrame.from_dict(stk_stat, orient='index').reset_index()

stk_stat_df=stk_stat_df.rename(columns={'index': 'company'})

stk_stat_df.head()

,company,err,annualHoldingsTurnover,enterpriseToRevenue,beta3Year,profitMargins,enterpriseToEbitda,52WeekChange,morningStarRiskRating,forwardEps,...,sharesPercentSharesOut,heldPercentInstitutions,heldPercentInsiders,shortRatio,sharesShortPreviousMonthDate,floatShares,beta,dateShortInterest,shortPercentOfFloat,sharesShortPriorMonth
0,ASFI,NaN,NaN,1.080,NaN,0.35631,3.435,0.375758,NaN,NaN,...,0.0011,0.14400,0.57637,2.29,2019-02-15,1971128.0,-0.488241,1.552608e+09,0.0024,8890.0
1,ATAI,NaN,NaN,NaN,NaN,638.66960,NaN,-0.811321,NaN,NaN,...,0.0015,0.12173,0.09890,0.32,2019-02-15,5991649.0,1.528238,1.552608e+09,NaN,56277.0
2,BLDP,NaN,NaN,6.161,NaN,-0.28289,-38.099,-0.014620,NaN,-0.09,...,0.0306,0.04109,0.29909,10.30,2019-02-15,179404278.0,2.289415,1.552608e+09,NaN,6948823.0
3,BSPM,NaN,NaN,7.734,NaN,2.94012,0.631,-0.946809,NaN,NaN,...,0.0646,0.00593,0.16191,3.00,2018-07-31,2210201.0,3.430812,1.535674e+09,NaN,246695.0
4,CYAN,NaN,NaN,0.784,NaN,-0.09865,-65.019,-0.392453,NaN,NaN,...,0.0033,0.28064,0.37163,2.13,2019-02-15,4099284.0,0.300214,1.552608e+09,0.0066,2115.0

In [235]:
pd.merge(result, stk_stat_df, how='left', on=['company'])

,company,formatted_date,high,low,open,volume_x,volume_y,percent_chg,err,annualHoldingsTurnover,...,sharesPercentSharesOut,heldPercentInstitutions,heldPercentInsiders,shortRatio,sharesShortPreviousMonthDate,floatShares,beta,dateShortInterest,shortPercentOfFloat,sharesShortPriorMonth
0,TVIX,2018-01-31,67.099998,61.200001,63.000000,2976800,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TVIX,2018-02-01,65.099998,55.000000,63.799999,3306000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TVIX,2018-02-02,77.599998,62.700001,63.000000,6175500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TVIX,2018-02-05,147.699997,71.800003,83.000000,13245700,"125,483,803",68.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TVIX,2018-02-06,154.699997,71.099998,148.899994,9877000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,TVIX,2018-02-07,94.599998,73.500000,91.400002,6838900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,TVIX,2018-02-08,136.100006,91.699997,92.400002,11224900,"110,529,982",48.51,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,TVIX,2018-02-09,143.699997,107.099998,116.000000,9494400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,UVXY,2018-01-31,61.400002,56.000000,57.650002,11440600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,UVXY,2018-02-01,59.599998,50.349998,58.400002,11137300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,UVXY,2018-02-02,71.099998,57.349998,57.400002,17690200,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,UVXY,2018-02-05,117.949997,65.800003,75.949997,31375100,"152,083,929",66.21,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,UVXY,2018-02-06,150.899994,72.099998,146.750000,19946400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,UVXY,2018-02-07,96.849998,75.099998,93.750000,15937400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,UVXY,2018-02-08,140.250000,94.150002,94.800003,22187800,"109,315,768",49.65,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,UVXY,2018-02-09,147.500000,109.750000,119.500000,19926100,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,VIXY,2018-01-31,25.600000,24.480000,24.830000,2325300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,VIXY,2018-02-01,25.240000,23.250000,25.000000,3283500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,VIXY,2018-02-02,27.799999,24.770000,24.770000,7679900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,VIXY,2018-02-05,36.959999,26.750000,28.690001,10085600,"9,912,069",34.24,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,VIXY,2018-02-06,45.860001,35.000000,45.080002,10172200,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,VIXY,2018-02-07,37.599998,33.689999,37.240002,7595400,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,VIXY,2018-02-08,45.860001,37.080002,37.230000,9097200,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,VIXY,2018-02-09,46.840000,40.299999,41.910000,3579300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,VIIX,2018-01-31,13.030000,12.490000,12.650000,143500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,VIIX,2018-02-01,12.850000,11.830000,12.750000,94300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,VIIX,2018-02-02,14.150000,12.670000,12.670000,270500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,VIIX,2018-02-05,18.799999,13.630000,14.640000,953900,"945,533",34.05,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,VIIX,2018-02-06,23.280001,18.030001,22.520000,1242700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,VIIX,2018-02-07,19.160000,17.190001,18.879999,1092200,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,ENT,2018-02-02,2.610000,2.260000,2.600000,365700,NaN,NaN,NaN,NaN,...,0.0397,0.00000,0.45232,14.74,2019-02-15,34357650.0,2.083870,1.552608e+09,0.0707,3730629.0
86,IMMR,2018-01-24,7.490000,7.110000,7.390000,337400,NaN,NaN,NaN,NaN,...,0.0515,0.81119,0.01953,3.52,2019-02-15,25583375.0,1.080231,1.552608e+09,0.0764,1036697.0
87,IMMR,2018-01-25,7.680000,7.140000,7.200000,444600,NaN,NaN,NaN,NaN,...,0.0515,0.81119,0.01953,3.52,2019-02-15,25583375.0,1.080231,1.552608e+09,0.0764,1036697.0
88,IMMR,2018-01-26,7.630000,7.170000,7.590000,200000,NaN,NaN,NaN,NaN,...,0.0515,0.81119,0.01953,3.52,2019-02-15,25583375.0,1.080231,1.552608e+09,0.0764,1036697.0
89,IMMR,2018-01-29,11.540000,9.920000,10.940000,20635900,"20,563,358",36.24,NaN,NaN,...,0.0515,0.81119,0.01953,3.52,2019-02-15,25583375.0,1.080231,1.552608e+09,0.0764,1036697.0
90,IMMR,2018-01-30,10.920000,9.650000,9.930000,3782900,NaN,NaN,NaN,NaN,...,0.0515,0.81119,0.01953,3.52,2019-02-15,25583375.0,1.080231,1.552608e+09,0.0764,1036697.0
91,IMMR,2018-01-31,11.310000,10.320000,11.310000,2978600,NaN,NaN,NaN,NaN,...,0.0515,0.81119,0.01953,3.52,2019-02-15,25583375.0,1.080231,1.552608e+09,0.0764,1036697.0
92,IMMR,2018-02-01,10.980000,10.210000,10.400000,1282000,NaN,NaN,NaN,NaN,...,0.0515,0.81119,0.01953,3.52,2019-02-15,25583375.0,1.080231,1.552608e+09,0.0764,1036697.0
93,IMMR,2018-02-02,11.020000,9.810000,10.880000,1319200,NaN,NaN,NaN,NaN,...,0.0515,0.81119,0.01953,3.52,2019-02-15,25583375.0,1.080231,1.552608e+09,0.0764,1036697.0
94,BLDP,2018-01-24,4.030000,3.770000,4.010000,2010400,NaN,NaN,NaN,NaN,...,0.0306,0.04109,0.29909,10.30,2019-02-15,179404278.0,2.289415,1.552608e+09,NaN,6948823.0
95,BLDP,2018-01-25,3.790000,3.190000,3.740000,9264800,NaN,NaN,NaN,NaN,...,0.0306,0.04109,0.29909,10.30,2019-02-15,179404278.0,2.289415,1.552608e+09,NaN,6948823.0
96,BLDP,2018-01-26,3.400000,2.910000,3.400000,9472500,NaN,NaN,NaN,NaN,...,0.0306,0.04109,0.29909,10.30,2019-02-15,179404278.0,2.289415,1.552608e+09,NaN,6948823.0
97,BLDP,2018-01-29,4.040000,3.390000,3.420000,14583900,"14,514,035",33.55,NaN,NaN,...,0.0306,0.04109,0.29909,10.30,2019-02-15,179404278.0,2.289415,1.552608e+09,NaN,6948823.0
98,BLDP,2018-01-30,3.930000,3.610000,3.900000,4569700,NaN,NaN,NaN,NaN,...,0.0306,0.04109,0.29909,10.30,2019-02-15,179404278.0,2.289415,1.552608e+09,NaN,6948823.0
99,BLDP,2018-01-31,3.820000,3.650000,3.740000,2313000,NaN,NaN,NaN,NaN,...,0.0306,0.04109,0.29909,10.30,2019-02-15,179404278.0,2.289415,1.552608e+09,NaN,6948823.0
100,BLDP,2018-02-01,3.700000,3.550000,3.640000,1404800,NaN,NaN,NaN,NaN,...,0.0306,0.04109,0.29909,10.30,2019-02-15,179404278.0,2.289415,1.552608e+09,NaN,6948823.0
101,BLDP,2018-02-02,3.520000,3.360000,3.480000,2021400,NaN,NaN,NaN,NaN,...,0.0306,0.04109,0.29909,10.30,2019-02-15,179404278.0,2.289415,1.552608e+09,NaN,6948823.0
102,SLDB,2018-01-26,29.250000,22.000000,25.500000,3304600,"3,272,954",41.38,NaN,NaN,...,0.0903,0.77412,0.34714,2.20,2019-02-15,11311245.0,NaN,1.552608e+09,0.2101,2125241.0
103,SLDB,2018-01-29,23.870001,21.750000,22.620001,290800,NaN,NaN,NaN,NaN,...,0.0903,0.77412,0.34714,2.20,2019-02-15,11311245.0,NaN,1.552608e+09,0.2101,2125241.0
104,SLDB,2018-01-30,23.480000,19.120001,22.670000,686500,NaN,NaN,NaN,NaN,...,0.0903,0.77412,0.34714,2.20,2019-02-15,11311245.0,NaN,1.552608e+09,0.2101,2125241.0
105,BSPM,2018-01-22,2.210000,2.020000,2.150000,37800,NaN,NaN,NaN,NaN,...,0.0646,0.00593,0.16191,3.00,2018-07-31,2210201.0,3.430812,1.535674e+09,NaN,246695.0
106,BSPM,2018-01-23,2.170000,2.070000,2.140000,30500,NaN,NaN,NaN,NaN,...,0.0646,0.00593,0.16191,3.00,2018-07-31,2210201.0,3.430812,1.535674e+09,NaN,246695.0
107,BSPM,2018-01-24,2.240000,2.110000,2.160000,46900,NaN,NaN,NaN,NaN,...,0.0646,0.00593,0.16191,3.00,2018-07-31,2210201.0,3.430812,1.535674e+09,NaN,246695.0
108,BSPM,2018-01-25,2.560000,2.130000,2.250000,666000,NaN,NaN,NaN,NaN,...,0.0646,0.00593,0.16191,3.00,2018-07-31,2210201.0,3.430812,1.535674e+09,NaN,246695.0
109,BSPM,2018-01-26,5.970000,2.570000,2.600000,17031300,"17,005,449",35.51,NaN,NaN,...,0.0646,0.00593,0.16191,3.00,2018-07-31,2210201.0,3.430812,1.535674e+09,NaN,246695.0
110,BSPM,2018-01-29,3.440000,2.700000,3.000000,635900,NaN,NaN,NaN,NaN,...,0.0646,0.00593,0.16191,3.00,2018-07-31,2210201.0,3.430812,1.535674e+09,NaN,246695.0
111,BSPM,2018-01-30,3.100000,2.450000,2.740000,727200,NaN,NaN,NaN,NaN,...,0.0646,0.00593,0.16191,3.00,2018-07-31,2210201.0,3.430812,1.535674e+09,NaN,246695.0
112,MNLO,2018-01-25,31.100000,20.500000,20.500000,5253400,"5,238,906",68.88,NaN,NaN,...,0.0043,0.73587,0.19100,0.86,2019-02-15,10362451.0,NaN,1.552608e+09,0.0068,140174.0
113,MNLO,2018-01-26,30.280001,27.510000,27.990000,977200,NaN,NaN,NaN,NaN,...,0.0043,0.73587,0.19100,0.86,2019-02-15,10362451.0,NaN,1.552608e+09,0.0068,140174.0
114,MNLO,2018-01-29,34.200001,28.400000,28.510000,503300,NaN,NaN,NaN,NaN,...,0.0043,0.73587,0.19100,0.86,2019-02-15,10362451.0,NaN,1.552608e+09,0.0068,140174.0

In [64]:
# save as csv file 
#data_final1.to_csv('daily_gainer_15percent_01012018_31032019')

In [102]:
data_final2.company[0]==data2.company[0]

True

In [110]:
data_final2.formatted_date[0]==data2.formatted_date[5]

False

In [113]:
data_final2.formatted_date[0]

'2018-01-31'

In [117]:
data2.formatted_date[0]

datetime.date(2018, 2, 5)

In [61]:
data2

    company formatted_date       volume  percent_chg
0      TVIX     2018-02-05  125,483,803        68.00
1      UVXY     2018-02-05  152,083,929        66.21
2      VIXY     2018-02-05    9,912,069        34.24
3      VIIX     2018-02-05      945,533        34.05
4      ASFI     2018-02-06      197,131        43.36
5       VXX     2018-02-05  202,368,529        33.48
6      CYAN     2018-02-06      201,412        36.36
7      QTNT     2018-02-06    4,348,632        34.78
8      ATAI     2018-02-06      138,297        32.83
9      QNST     2018-02-01    3,684,213        38.91
10     LQDT     2018-02-01      694,793        35.42
11     CASC     2018-01-31   21,759,353        70.51
12      ENT     2018-01-31    3,763,829        30.77
13     IMMR     2018-01-29   20,563,358        36.24
14     BLDP     2018-01-29   14,514,035        33.55
15       KS     2018-01-29   30,616,213        30.78
16     ARMO     2018-01-26    4,347,502        74.94
17     SLDB     2018-01-26    3,272,954        41.38
18     BSPM     2018-01-26   17,005,449        35.51
19     MNLO     2018-01-25    5,238,906        68.88
20     LTBR     2018-01-25   36,900,749        58.60
21     KTEC     2018-01-25      866,320        49.77
22     MNKD     2018-01-25   38,509,014        41.26
23     OGEN     2018-01-25    2,882,668        37.32
24     PAGS     2018-01-24   56,608,408        35.81
25      SRT     2018-01-24    1,010,345        31.17
26     RFIL     2018-01-24      409,216        30.77
27     BIVV     2018-01-22   31,303,387        61.89
28       VR     2018-01-22   30,787,587        44.03
29     CSSE     2019-03-29    1,267,045        36.37
..      ...            ...          ...          ...
653    AQMS     2018-02-13   14,237,350        36.36
654    CSRA     2018-02-12   43,727,748        31.05
655     CGG     2018-02-09      165,297        33.27
656    BSWN     2018-02-08       15,215        52.51
657    LSVX     2018-02-08      339,945        50.70
658    UVXY     2018-02-08  109,315,768        49.65
659    TVIX     2018-02-08  110,529,982        48.51
660    XIVH     2018-02-08      130,805        32.54
661    VIRT     2018-02-08    5,009,281        32.17
662    SNAP     2018-02-07  230,956,943        47.58
663    NCNA     2018-01-19      952,640        41.55
664     GNC     2018-01-18   50,197,780        51.59
665    JUNO     2018-01-17   21,972,667        51.86
666    AMRH     2018-01-10   13,547,774        71.93
667    LEDS     2018-01-10    7,739,562        71.47
668    NHLD     2018-01-10    2,286,397        65.11
669    KODK     2018-01-10  106,016,939        57.35
670    KODK     2018-01-09   64,730,812       119.35
671    PTIE     2018-01-09   31,488,293       103.15
672    ABLX     2018-01-08    1,817,579        49.05
673     TIG     2018-01-05      136,409        72.00
674     SKY     2018-01-05      981,405        48.09
675    HTGM     2018-01-04   12,127,508        75.98
676    CCXI     2018-01-04    1,444,604        39.42
677    APOP     2018-01-04    3,828,193        37.78
678    RENN     2018-01-03   10,292,414        47.39
679     AQB     2018-01-02      297,067       152.56
680     CUE     2018-01-02      354,038        55.07
681    BURG     2018-01-02   13,208,987        41.45
682    GROW     2018-01-02    2,423,073        33.33

[683 rows x 4 columns]